<div class="main-bar">
    <div class="logo-profile">
        <h1>ONLYBUNS</h1>
        <button class="logging" [routerLink]="['/login']" *ngIf="currentUser === null">Log in</button>
        <!-- Prikazuje dugme za odjavu ako je korisnik ulogovan -->
        <button class="log-out" (click)="logout()" *ngIf="currentUser !== null">Log out</button>
    
    </div>
    <div class="routing">
        <button class="menu-buttons" [routerLink]="['home']">Home</button> | 
        <button class="menu-buttons" [routerLink]="['trends']">Trends</button> |
        <button class="menu-buttons" [routerLink]="['chat']">Chat</button> |
        <button class="menu-buttons" [routerLink]="['map']">Map</button> | 
        <button class="menu-buttons" [routerLink]="['forU']">For U </button> |
        <button class="menu-buttons" [routerLink]="['posts-view']">Posts</button> | 
        <button class="menu-buttons" [routerLink]="['about']">About</button> | 
        <button class="menu-buttons" [routerLink]="['profileInfo']">Profile</button> |
        <button class="menu-buttons" [routerLink]="['create-post']">Post</button> 
    </div>
</div>
