<div class="main-bar">
    <div class="logo-profile">
        <h1>ONLYBUNS</h1>
        <button class="logging" [routerLink]="['/login']" *ngIf="!hasSignedIn()">Log in</button>
        <!-- Prikazuje dugme za odjavu ako je korisnik ulogovan -->
        <button class="logging" (click)="logout()" *ngIf="hasSignedIn()">Log out</button>
    
    </div>
    <div class="routing">
        <button class="menu-buttons" [routerLink]="['home']">Home</button> | 
        <button class="menu-buttons" [routerLink]="['home']">Posts</button> |
        <button class="menu-buttons" [routerLink]="['home']">Trends</button> |
        <button class="menu-buttons" [routerLink]="['home']">Chat</button> |
        <button class="menu-buttons" [routerLink]="['home']">Map</button> | 
        <button class="menu-buttons" [routerLink]="['home']">For U </button> | 
        <button class="menu-buttons" [routerLink]="['home']">About</button> | 
        <button class="menu-buttons" [routerLink]="['home']">Profile</button> 
    </div>
</div>
