<div class="main-bar">
    <div class="logo-profile">
        <h1>ONLYBUNS</h1>
        <button class="logging" [routerLink]="['/login']" *ngIf="currentUser === null">Log in</button>
        <!-- Prikazuje dugme za odjavu ako je korisnik ulogovan -->
        <button class="log-out" (click)="logout()" *ngIf="currentUser !== null">Log out</button>
    
    </div>
    <div class="routing">
        <button class="menu-buttons" [routerLink]="['home']">Home</button> | 
        <button class="menu-buttons" [routerLink]="['posts-view']">Posts</button> | 
        <button class="menu-buttons" [routerLink]="['trends']" *ngIf="currentUser !== null">Trends</button> <span *ngIf="currentUser !== null">|</span>
        <button class="menu-buttons" [routerLink]="['chat']" *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">Chat</button> <span *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">|</span>
        <button class="menu-buttons" [routerLink]="['display-map']" *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">Map</button> <span *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">|</span> 
        <button class="menu-buttons" [routerLink]="['user-profile']" *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">Profile</button> <span *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">|</span>
        <button class="menu-buttons" [routerLink]="['create-post']" *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">Post</button> <span *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_USER'">|</span>
        <button class="menu-buttons" [routerLink]="['users-view']" *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_ADMIN'">Users</button> <span *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_ADMIN'">|</span>
        <button class="menu-buttons" [routerLink]="['app-analytics']" *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_ADMIN'">Analytics</button> <span *ngIf="currentUser !== null && currentUser.role.name === 'ROLE_ADMIN'">|</span>
        <button class="menu-buttons" [routerLink]="['forU']">For U </button> |
        <button class="menu-buttons" [routerLink]="['about']">About</button> 
    </div>
</div>
