<div *ngFor="let post of posts" class="post-card">
  <h2 (click)="seeProfile(post.userId)">{{ post.userId }}</h2>
  <img *ngIf="post.image" [src]="post.image" alt="Post Image" class="post-image" />

  <h3>{{ post.description }}</h3>
  <p>Likes: {{ post.likeCount }}</p>

  <input [(ngModel)]="userId" placeholder="Enter your User ID" />

  <button (click)="likePost(post.id, userId)" class="like-button">
    <img src="../../../../assets/like.png" alt="Like Icon" class="like-icon" />
  </button>
  <button (click)="deletePost(post.id, userId)">Delete</button>
  <button (click)="toggleUpdateForm(post.id)">Update</button>

  <div *ngIf="newPost.showUpdateForm">
    <div>
      <label for="newDescription">New Description:</label>
      <input [(ngModel)]="newPost.newDescription" id="newDescription" placeholder="Enter new description" />
    </div>
    <div>
      <label for="newImage">New Image URL:</label>
      <input [(ngModel)]="newPost.newImage" id="newImage" placeholder="Enter new image URL" />
    </div>
    <button (click)="updatePost(post.id, userId)">Save</button>
  </div>

  <h4>Comments:</h4>
  <div *ngIf="post.comments && post.comments.length > 0; else noComments">
    <div *ngFor="let comment of post.comments" class="comment-card">
      <p class="comment-author" (click)="seeProfile(comment.userId)">{{ comment.authorName }}: {{ comment.text }}</p>
    </div>
  </div>
  <ng-template #noComments>
    <p>No comments yet.</p>
  </ng-template>

  <input [(ngModel)]="newCommentText[post.id]" placeholder="Add a comment" />
  <button (click)="addComment(post.id, userId)">Post Comment</button>
  <hr>
</div>