<div class="post-create-container">
    <h2 class="form-heading">Add New Post</h2>
    <form class="post-form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="form-label" for="description">Description:</label>
            <textarea class="form-textarea" formControlName="description" id="description" placeholder="Enter description..." rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="image">Picture:</label>
            <input class="form-input" formControlName="image"  type="file" id="image" (change)="onFileSelected($event)">
        </div>
        <div class="image-preview" *ngIf="previewUrl">
            <img [src]="previewUrl" alt="" class="preview-image">
          </div>
        <div class="form-group">
            <label class="form-label" for="city">City:</label>
            <input  [(ngModel)]="SelectedCity" class="form-input" formControlName="city"  type="text" id="city" placeholder="Enter city...">
        </div>
        <div class="form-group">
            <label class="form-label" for="country">Country:</label>
            <input [(ngModel)]="SelectedCountry" class="form-input" formControlName="country"  type="text" id="country" placeholder="Enter country">
        </div>
        <div class="form-group">
            <button class="form-button" type="submit" >Submit</button>
        </div>
    </form>
    <xp-map (mapClick)="onMapClick($event)"></xp-map>
</div>