.big-purple-bunny{
    height: 450px;
    position: absolute;
    top: 29px;
    right: 17%;
}
.big-orange-bunny{
    height: 298px;
    position: absolute;
    top: 22px;
    left: 25%;
}
.small-purple-bunny{
    height: 150px;
    position: absolute;
    top: 330px;
    left: 24%;
}
.special-bunny{
    height: 220px;
    position: absolute;
    top: 460px;
    left: 36%;
}

.like-bunny{
    height: 86px;
    position: absolute;
    top: 500px;
    right: 30%;
}

.button-for-home{
    position: absolute;
    top: 16px;
    left: 16px;
    border: none;
    background: none;
    color: #CC8EBF;
    font-weight: bolder;
    font-size: 22px;
    cursor: pointer;
    
}
.form-div{
    padding: 30px;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    width: 470px;
    height: 470px;
    border-radius: 100%;
    box-shadow: 1px 1px 20px 4px rgba(255, 255, 255, 0.9);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 11vh;
}

.colum-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

::placeholder {
    color: #CC8EBF;
  }

.input-design{
    width: 250px;
    height: 30px;
    border-radius: 25px;
    border:2px solid #3B163B;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
}

.label-design{
    font-size: 17px;
    font-weight: bold;
    color: #3B163B;
}

.submit-css{
    width: 180px;
    height: 40px;
    border-radius: 25px;
    background-color: #3B163B;
    border: 1px solid #3B163B;
    font-weight: bold;
    color: #CC8EBF;
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 12px;
}

.submit-css:hover{
    background-color: #CC8EBF;
    color: #3B163B;
}

.link-design{
    color: #FF7A33;
    text-decoration: none;
    font-weight: bold;
}

.link-design:hover{
    text-decoration: underline;
}

.error {
    margin-top: 8px;
    color: red;
    font-size: 15px;
    min-height: 18px;
    text-align: center;
    max-width: 250px; /* dodato */
    word-wrap: break-word; /* dodato */
}

.togglePassword{
    width: 22px;
    position: relative;
    z-index: 1000;
    top: -32px;
    left: 233px;
}
