<div class="form-div">
  <h1 style="color: #3B163B;">Log in</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Username -->
  <div class="colum-div">
    <label class="label-design" for="username">Username</label>
    <input class="input-design" id="username" formControlName="username" type="text" />
  </div>

  <!-- Password -->
  <div class="colum-div">
    <label class="label-design" for="password">Password</label>
    <input class="input-design" id="password" formControlName="password" type="password" />
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <!-- Submit Button -->
  <div>
    <button class="submit-css" type="submit">LOG IN</button>
  </div>

  
</form>

  <p style="color: #3B163B;">Don't have an account? <a [routerLink]="['/registration']" class="link-design">Sign up</a></p>

  </div>

  